body {
	background: #e0e0e0;
}

#main-nav  {
	text-align: center;
}

#main-nav ul {
	margin: 0;
	padding: 1em 0 .5em; 
}

#main-nav li  {
	display: block;
	opacity: 1;
	margin: 0 .5em .5em;
}

#main-nav a {
	border-radius: 10px;
	display: block;
	font-family: 'OpenSans'	
	font-size: 1.05em;
	padding: 10px 26.333px;
	text-decoration: none;
	transition: background-color 0.25s linear .1s, border-color .25s linear .1s, color .25s linear .1s;
}

#main-nav a:hover  {
	transition: background-color 0.25s linear .1s, border-color .25s linear .1s, color .25s linear .1s;
}

#intro .photo {
	background-size: cover;
	height: 13.75em; 
	width: 100%;
}

#sunflower  {
	background: url("../img/sunflower3.jpg") no-repeat center;
}

#aerial  {
	background: url("../img/aerial.jpg") no-repeat center;
}

#books  {
	background: url("../img/oldbooks.jpg") no-repeat center;
}


#intro {
	overflow: auto;
}

#intro header {
	font-size: 2em;
	margin: 0;  
	padding: 2em 1em 2em;
}

#intro h1  {
	font-family: 'Great Vibes', cursive;
	font-size: 2.5em;
	letter-spacing: .01em;
	font-weight: lighter;
	line-height: .9;
	margin: 0 0 .5em 0;
	text-align: center;
}

#intro h2  {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: .6em;
	font-weight: lighter;
	margin: -1.5em auto;
	text-align: center;
}

#intro p  {
	font-family: 'Open San', sans-serif;
	font-size: .7em;
	font-weight: lighter;
	letter-spacing: -1px;
	line-height: 1.3;
	margin: 75px 0 0 0;
	text-transform: uppercase;
	text-align: center;
}

#contact #intro p  {
	font-size: 0.9em;
}

#intro em  {
	font-style: normal;
	padding: 2px 5px;
}

#content  {
	margin: 0;  
	padding: 1em;
	overflow:auto;
}

#content p {
	font-style: italic;
	font-family: 'OpenSans-CondensedLight';
	line-height: 1.6em;
	padding: 2em 0 2em;
}

#content p::before, #content p::after {
	content: '”';
	font-size: 2em;
}

#content p::before {
	content: '“';
}

#content ul  {
	margin: 0;
	padding: 2em 0 0 0;
}

#content li  {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: bold;
	list-style: none;
	margin: 0 0 .3em;
	padding-top: 2em;
	text-align: center;	
	width: 50%; 
	float: left;
}

#home #content li  {
	padding-bottom: 2em;
}

#about #content li {
	padding-bottom: 2em;
}

#contact #content li  {
	padding: 4em 0em 4em 1em;
	width: 93%;	
}

#content li a {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	list-style: none;
	list-style: none;
	margin-left: 0px;
	text-decoration: none;
}

#footer  {
	padding: 1em;
	padding-bottom: .5em;
	overflow: auto;
	text-align: center;
}

.copyright  {
	font-size: 14px;
}

.social {
	overflow: auto;
	margin: 0 auto;
	text-align: center;
	padding-left: 0;
}

.social li {
	display: inline;
}

.social a  {
	display: inline-block;
	height: 48px;
	width: 48px;
	background-repeat: no-repeat;
	text-indent: -999em;
}

.social .tumblr   a { background-image: url('../img/tumblr-48.png'); }
.social .github   a { background-image: url('../img/github-48.png'); }
.social .facebook a { background-image: url('../img/facebook-48.png'); }
.social .treehouse a { background-image: url('../img/treehouse-48.png'); }

/* colours */

#home #main-nav { background: #eee; }
#home #main-nav a { background: #f2f2f2; color: #444; }
#home #main-nav a:hover { background-color: #444 !important; color: #f2f2f2; }
#home #main-nav li:nth-child(2) a { background: #bababa; }
#home #main-nav li:nth-child(3) a { background: #d0d0d0; }
#home #main-nav a.selected { background-color: #7e7e7e; border-color: #bababa; color: #fff; }
#home #intro { background: #7e7e7e; }
#home #intro p { color: #444; }
#home #intro h1 { color: #fff; }
#home #intro h2 { color: #bababa; }
#home #intro em { background: #eee; }
#home #content { background: #c3c3c3; }
#home #content p { color: #666;}
#home #content li { color: #444; }
#home #footer { background: #eee; }
#home #footer p { color: #444; }

#about #main-nav { background: #d8d4db; }
#about #main-nav a { background: #efedf0; color: #130023; }
#about #main-nav a:hover { background-color: #130023 !important; color: #efedf0; }
#about #main-nav li:nth-child(2) a { background: #5c4e67; }
#about #main-nav li:nth-child(3) a { background: #c4bfc8; }
#about #main-nav a.selected { background-color: #5c4e67; border-color: #5c4e67; color: #fff !important; }
#about #intro { background: #5c4e67; }
#about #intro p { color: #130023; }
#about #intro h1 { color: #fff; }
#about #intro h2 { color: #a8a0ae; }
#about #intro em { background: #d8d4db; }
#about #content { background: #b3adb8; }
#about #content li { color: #130023; }
#about #content p { color: #3e2d4b; }
#about #footer { background: #d8d4db; }
#about #footer p { color: #130023; }

#contact #main-nav { background: #eee; }
#contact #main-nav a { background: #bababa; color: #fff; }
#contact #main-nav a:hover { background-color: #002c27 !important; color: #ecf0f0; }
#contact #main-nav li:nth-child(2) a { background: #9cb1af; }
#contact #main-nav li:nth-child(3) a { background: #466d6a; }
#contact #main-nav a.selected { background-color: #466d6a; border-color: #9cb1af; color: #fff; }
#contact #intro { background: #466d6a; }
#contact #intro p { color: #002c27; }
#contact #intro h1 { color: #fff; }
#contact #intro h2 { color: #9cb1af; }
#contact #intro em { background: #eee; }
#contact #content { background: #a9bbba; }
#contact #content li { color: #002c27; }
#contact #content p { color: #24524e}
#contact #footer { background: #eee; }
#contact #footer p { color: #002c27; }

/* desktop */

@media screen and (min-width: 40em ) {

	#main-nav ul {
		text-align:left;
		padding:0;
		margin:0;
	}

	#main-nav li  {
		display: inline-block; 
		padding: 0;
		margin: 0;
		border: 0;
	}

	#main-nav a {
		margin: 0;
		font-size: 1.5em;
		text-decoration: none;
		border-radius: 0;
		border:none;
	}

	#contact #main-nav a  {
		background: #f2f2f2;
		color: #333;
	}

	#intro #sunflower {
		float: right;
		width: 50%;
		height: 28em;
	}

	#intro #aerial {
		float: right;
		width: 50%;
		height: 25em;
	}

	#intro #books {
		float: right;
		width: 50%;
		height: 28em;
	}

	#intro header {
		float:left;
		width: 40%;
	}

	#intro p  {
		margin: 3em 0 0 0;
		text-align: center;
	}

	#content {
		padding: 2em;
	}

	#content ul {
		float: right;
		width: 50%;
	}

	#contact #content ul {
		width: 100%;
	}

	#contact #content li  {
		padding: 4em 0em 4em 1em;
		width: 100%;	
		text-align: center;	
		float: none;
	}
	
	#about #content li  {
		float: right;
		text-align: center;
		width: 50%;
	}

	#content p {
		float: left;
		width: 45%;
	}

	.social { 
		float: right;
		width: 45%;
	}

	.social li {
		float: right;
	}
	
	.copyright {
		float: left;
		text-align: left;
		width: 45%;
	}

}


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(http://themes.googleusercontent.com/static/fonts/opensanscondensed/v7/gk5FxslNkTTHtojXrkp-xGAzD5WKQVN4wSyA0MYYi4rr7w4p9aSvGirXi6XmeXNA.woff) format('woff');
}
@font-face {
  font-family: 'Great Vibes';
  font-style: normal;
  font-weight: 400;
  src: local('Great Vibes'), local('GreatVibes-Regular'), url(http://themes.googleusercontent.com/static/fonts/greatvibes/v2/6q1c0ofG6NKsEhAc2eh-3brIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
